<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/<%=css_file%> ">
    <link rel="stylesheet" href="./../styles/navbar.css">
    <script type="text/javascript" src="./../<%=js_file%>"></script>

    <title><%=page_title %></title>


</head>