<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./<%=css_path%>">
    <link rel="stylesheet" href="./../partials/navbar.css">
    <script type="module" src="./<%=js_path%>"></script>

    <title><%=page_title %></title>


</head>