<nav>
<ul class="navbar-list" id="list">
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>

    <% 
        if(isLogged){ %>
            
            
            <li><a href="/store">Store</a></li>
            <li><a href="/cart">Cart</a></li>
            
            <li class="userNameToRight" id="xx">
                <%=username%>
            </li>
            <li class="settingsToRight"><a href="/settings">Settings</a></li>
        <% } %>
    
    
    
</ul>



</nav>