<!DOCTYPE html>
<html>

<%- include("./../partials/head.ejs", {page_title: 'Home', css_path: './index.css', js_path:'./index.js'}); %>

<body>
    <%-include("./../partials/navbar.ejs", {username: `sagiv`, isLogged: 1}); %>
    


    


</body>

</html>











<!--

Post request form

<form action="/sendregister" method="post">
        <h2>Register</h2>
        <div class="input-field">
            <input type="text" name="first_name" id="fname" placeholder="Enter first name">
        </div>
        <div class="input-field">
            <input type="text" name="last_name" id="lname" placeholder="Enter last name">
        </div>
        <div class="input-field">
            <input type="text" name="email_addr" id="emailAdd" placeholder="Enter email address">
        </div>
        <div class="input-field">
            <input type="text" name="phone_number" id="pNumber" placeholder="Enter phone number">
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter password">
        </div>
        <input type="submit" value="Register" id="btn">

        <div class="input-field">
            <input type="text" name="verification-code" id="verCode" placeholder="Enter the code">
        </div>
        <input type="submit" value="Verify" id="verCode">

    </form>


-->