.password{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.email{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
}
.button{
    background-color:gray;
        border: none;
        color: white;
        border-radius: 10px;
        padding: 10px 25px;
        
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
    
    
}
.buttonSect{
    text-align: center;
}
.emailField{
    width: 220px;
    height: 20px;
}
.passwordField{
    width: 220px;
    height: 20px;
}
.right{
    float: right;
    width: 500px;
    height: 700px;
    background-color: aqua;
}
.left{
    float: left;
    width: 500px;
    height: 700px;
    background-color: aqua;
}
.errorMsg{
    text-align: center;
    color: red;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    
}
