<!DOCTYPE html>
<html>
<%-include('./../partials/head.ejs', {page_title: page_title, css_path: css_path, js_path: js_path}); %>

<body>
<%- include('./../partials/navbar.ejs', {username: username, isLogged: isLogged})%>
<br>

<div class="left"></div>
<div class="right"></div>
<form action="/sendlogin" method="post">
    <div class="email">
        <label for="email_addr">Email Address:</label><br><br>
    <input class="emailField" type="text" id="emailLogin" name="email_addr" placeholder="Enter your email"><br><br>
    </div>
    
    <br>
    <div class="password">
        <label for="password">Password:</label><br><br>
    <input class="passwordField" type="password" id="passwordLogin" name="password" placeholder="Enter your password">
    </div>
    

    <% if(isUser == 0)  {%>
    <div class="errorMsg" id="error" >
        
        <p>* Incorrect password or email. *</p>
        
    </div>
    <style>
    .errorMsg{
    text-align: center;
    color: red;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    
}
    </style>
    
    <% } %>
    

    <br>
    <div class="buttonSect">
        <button class="button" type="submit" id="submitBtn">Login</button>

    </div>
    
    
    

</form>


</body>

</html>